/**************/
/* CSS REMEDY */
/**************/

@font-face {
  font-family: "Iron Man";
  src:
    url("/fonts/Stark.otf") format("opentype"),
    url("/fonts/Stark\ Bold.otf") format("opentype"),
    url("/fonts/Stark\ Bold\ Italic.otf") format("opentype"),
    url("/fonts/Stark\ Hollow.otf") format("opentype"),
    url("/fonts/Stark\ Hollow\ Italic.otf") format("opentype"),
    url("/fonts/Stark\ Italic.otf") format("opentype"),

}

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:auto;
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;

  background-image: url("/images/iron\ man\ hud\ overlay-04.png"), url("/images/Background\ tony\ lab\ Blauw-donker.png");
  /* background-image: url("/images/Background\ tony\ lab\ Blauw-donker.png"); */

  background-size: cover;
  background-position: center 70%;
  
  height:100dvh
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: #FFFFFF;
  --color-text: #FFFFFF;
  --drop-shadows: #000000
  /* ... */

}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-headings);
  font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  text-align: left;
  margin-left: 10%;
}

h1 img { 
  max-width: 10em;
}

article {
  background-color: rgb(128 128 128 / 0);
  height:100%;

  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 30% / 0.88fr 1.5fr 1fr;

}

/* Vormgeving Iron Man suits */

ol:nth-of-type(1) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;

  margin:0;
  padding:0;
  height:100%;

  /* background-color: #99999999; */

  list-style: none;

  position: relative;
}

ol:nth-of-type(1) li {
  position: absolute;
  inset:0;

  height:100%;
  align-items: end;

  /* background-color: #f001; */
  text-align: center;
}

ol:nth-of-type(1) li:nth-of-type(1) img {
  /* display:block; */
  height:120%;
  width:auto;

  transform-origin: 3vh -120vh;

  animation-name: suit-flying;
  animation-duration: .5s;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.365, -0.015, 0.000, 1.000); 
}

@keyframes suit-flying {
  0% { transform:translate(0, -120vh); }
  100% { transform:translate(0, -10vh); }
}

ol:nth-of-type(1) li:nth-of-type(1) img.flyIn {
  animation-play-state:running;
}

/* ol:nth-of-type(1) li:hover img {
  translate: 3vh -10vh;
} */

/* Vormgeving Upgrade-knop */

ol:nth-of-type(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;

  margin:0;
  padding:0;
  height:100%;

  /* background-color: #99999999; */

  list-style: none;

  position: relative;
}

ol:nth-of-type(2) button {
  background-color: #FFFFFF00;
  border-color: #FFFFFF00;

  position: absolute;
  translate: -1.15vh 10vh;
  transition-duration: .3s;

  width: auto;
  margin: auto;
  padding: 0;
}

ol:nth-of-type(2) button:hover {
  scale: 0.9;
  transition-duration: .3s;
}

ol:nth-of-type(2) button img {
  max-width: 80%;
  scale: 1;

  filter: drop-shadow(0 0 2em var(--drop-shadows)) saturate(0.8);
}

/* CSS voor plaatsing textbubbels - head */

ol:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  margin:0;
  padding:0;
  height:100%;

  /* background-color: #99999999; */

  list-style: none;

  position: relative;
}

ol:nth-of-type(3) img {
  max-width: 110%;
  translate: 20vh 5vh;

  filter: drop-shadow(0 0 2em var(--drop-shadows)) saturate(0.8);
}

/* CSS voor plaatsing textbubbels - feet */

ol:nth-of-type(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;

  margin:0;
  padding:0;
  height:100%;

  /* background-color: #99999999; */

  list-style: none;

  position: relative;
}

ol:nth-of-type(4) img {
  max-width: 110%;
  translate: 28vh 3vh;

  filter: drop-shadow(0 0 2em var(--drop-shadows)) saturate(0.8);
}

/* CSS voor plaatsing textbubbels - body */

ol:nth-of-type(5) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  margin:0;
  padding:0;
  height:100%;

  /* background-color: #99999999; */

  list-style: none;

  position: relative;
}

ol:nth-of-type(5) img {
  max-width: 80%;
  translate: -18vh;

  filter: drop-shadow(0 0 2em var(--drop-shadows)) saturate(0.8);
}